* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

$general__font: 'Oswald';
$second__font:'Poppins';
$general__background: black;
$second__background: rgb(27, 31, 38);
$general__buttonColor: rgb(255, 229, 18);
$general__text: black;
$general__secondText: white;
@mixin page {
    font-family: $general__font;
    background-color: $general__background;
}

@mixin line {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

@mixin line2 {
    align-items: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

@mixin forms {
    .placeholder {
        background-color: rgb(255, 255, 255);
        border: none;
        padding: 8px 10px;
        font-family: $second__font;
        text-align: left;
        width: 300px;
        height: 40px;
        font-size: 0.8em;
        margin: 10px;
    }
    .form__button {
        font-family: $general__font;
        font-size: 0.8em;
        background-color: $general__buttonColor;
        border: none;
        text-align: center;
        height: 40px;
        width: 100px;
        cursor: pointer;
    }
}

@mixin column {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
    align-items: left;
}

@mixin foot {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-family: $second__font;
    font-size: 10px;
    color: rgb(79, 77, 74);
    width: 150px;
    margin: 20px;
}

html {
    @include page();
}

body {
    @include page();
}

button {
    @include page();
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

header {
    background-color: black;
    padding: 10px 5px;
    color: #FFF;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    .nav {
        width: 100%;
        justify-content: center;
        align-items: center;
        .logo {
            margin: 0px 245px 0px;
            color: #FFF;
            font-size: 20px;
            img {
                height: 50px;
            }
        }
        .menues {
            .menu__expanded {
                display: none;
            }
            .menu__item {
                margin: 0 10px;
                padding: 5px 10px;
                position: relative;
                @mixin adjust {
                    font-size: .65em;
                    cursor: pointer;
                }
                a {
                    color: rgb(255, 255, 255);
                    text-align: left;
                    @include adjust();
                }
                button {
                    background-color: transparent;
                    border: none;
                    color: #FFF;
                    @include adjust();
                }
                &:hover {
                    >.menu__expanded {
                        display: block;
                    }
                }
            }
            .menu__expanded {
                position: absolute;
                z-index: 1;
                background-color: rgb(0, 0, 0);
                font-size: 1.5em;
                text-align: left;
                padding: 20px;
                width: 250px;
            }
        }
        .banner__item img {
            padding: 0px 10px 0px 10px;
        }
        .banner__item button {
            background-color: transparent;
            border: none;
            color: #FFF;
        }
        .banner__item button,
        .banner__item a {
            font-size: .65em;
            padding: 10px;
            cursor: pointer;
        }
    }
}

.userIn {
    //background-color: rgb(27, 31, 38);
    padding: 60px 90px;
    display: flex;
    justify-content: center;
}

.form__login {
    @include column();
    @include forms();
    h1 {
        color: $general__secondText;
        font-size: 2em;
    }
    h3 {
        //padding: 10px 10px 0px 60px;
        color: $general__secondText;
        font-size: 1em;
        font-family: $second__font;
        text-align: left;
    }
    p {
        color: $general__secondText;
        font-size: 1em;
    }
}

.form__signin {
    @include column();
    @include forms();
    margin: 0px 70px;
    h1 {
        color: $general__secondText;
        font-size: 2em;
        padding: 60px;
    }
    h3 {
        color: $general__secondText;
        font-size: 1em;
    }
    p {
        color: $general__secondText;
        font-size: 1em;
        padding: 60px;
    }
}

.form_newsletter {
    display: flex;
    flex-direction: row;
}

.newLetter {
    background-color: rgb(27, 31, 38);
    padding: 60px 90px;
    display: flex;
    justify-content: center;
}

.newsLetter__info {
    h1 {
        color: $general__secondText;
        font-size: 20px;
    }
    .form_newsletter {
        @include forms();
    }
}

.footer__info {
    @include line();
    background-color: $general__background;
    justify-content: center;
    align-items: flex-start;
    padding: 100px 100px 50px;
    h1 {
        color: $general__secondText;
        font-size: 15px;
        margin-bottom: 20px;
    }
    a {
        color: rgb(79, 77, 74);
        padding: 5px 0px;
    }
    .footer__menu {
        color: rgb(255, 255, 255);
        width: 150px;
        margin: 20px;
        font-family: $general__font;
        font-size: 15px;
    }
    .footer__knowus {
        @include foot();
    }
    .footer__information {
        @include foot();
    }
    .footer__corporation {
        @include foot();
    }
}